body {
    background-color: #222126;
}


.slider-main {
    margin: auto;
    width: 46.875rem;
    height: 28.125rem;
    border-radius: 1.563rem;
    background-color: #FFC324;
    box-shadow: 0rem 0.625rem 0.625rem #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slider-countainer {
    width: 21.875rem;
    height: 25rem;
    margin-top: 1.25rem;
    overflow: hidden;

}

.slide {
    transition: 1.3s;
}


.memes {
    width: 21.875rem;
    height: 21.875rem;
    object-fit: cover;
    transition: 1.3s;
}

.second-countainer {
    width: 31.25rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.625rem;
}

.sign {
    display: flex;
    width: 21.875rem;
    height: 0.938rem;

}

.buttons {
    margin-top: -2.313rem;
    margin-left: 14.375rem;
    width: 9.375rem;
    background-color: #FFC324;
}


.radio {
    display: none;
}

.dots {
    width: 12.5rem;
    height: 0.938rem;
    display: flex;
    justify-content: flex-end;
    background-color: #FFC324;
    z-index: 1;
}

.dots label {
    display: block;
    width: 0.938rem;
    height: 0.938rem;
    background-color: #222126;
    margin: 0 0.313rem;
    border-radius: 50%;
    opacity: 0.3;
    cursor: pointer;
}

h2 {
    font-size: 1.125rem;
    overflow: visible;

}

.dots label:hover {
    opacity: 0.8;
}

.dots label:checked {
    opacity: 0.8;
}

.window {
    display: flex;
    flex-direction: row;
    transition: 0.7s;
    height: 25rem;
}

#radio:checked ~ .window {
    transform: translateX(0%);
}


#radio-one:checked ~ .window {
    transform: translateX(-100%);
}

#radio-two:checked ~ .window {
    transform: translateX(-200%);
}

#radio-three:checked ~ .window {
    transform: translateX(-300%);
}

input:checked {
    opacity: 0.8;
}
